{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Brandon's Way PRP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {% load static %}
  <link href="{% static 'img\brandonlogo.jpg' %}" rel="icon">
  {% load static %}
  <link href="{% static 'img\brandonlogo.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  {% load static %}
  <link href="{% static 'vendor\aos\aos.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\bootstrap-icons\bootstrap-icons.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\boxicons\css\boxicons.min.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\glightbox\css\glightbox.min.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\remixicon\remixicon.css' %}" rel="stylesheet">
  {% load static %}
  <link href="{% static 'vendor\swiper\swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  {% load static %}
  <link href="{% static 'css\style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.9.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

     <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo me-auto me-lg-0">
        {% load static %}
        <img src="{% static 'img\brandonlogo.jpg' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Files and Downloads</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Files and Downloads</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Building A Better Us Over Time<span>.</span></h1>
          <h2>Psychiatric Rehabilitation Program</h2>
        </div>
       
      

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            {% load static %}
            <img src="{% static 'img\brandonface.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Journey To Brandon's Way.</h3>
            <p class="fst-italic">
              Brandon Wells, an East Baltimore native, encountered many challenges growing up in the
              Belair Edison neighborhood until he met his mentor Mr. Tony James. Mr. James saw something 
              in Brandon that made him believe that he could change and provided steadfast support that opened 
              Brandon's mind to other possibilities. This ultimately led him to overcoming drug affliations, 
              violence, and peer pressure leaving Brandon with an immense obligation, duty, and commitment 
              to influence that type of change in others.
            </p>
            <p>
              Brandon understands that true and lasting change occurs over time; it is not immediate, 
              instantaneous or linear. Moreover, long lasting change and delayed gratification have a major 
              impact on social emotional health and directly affect overall life success.
            </p>
            <p>
              In 2009, Brandon became a Special Education Para Professional with Baltimore City Public 
              Schools. Capitalizing on his unique gift to encourage, influence, and motivate youth, he felt 
              confined by the limits of the school environment and desired to do more. 
              This led him to becoming a Psychiatric Rehabilitation Program(PRP) counselor with Helping 
              Hands Services. Since that time, he has serviced numerous families inclusive of children, adolescents, 
              and adults.
            </p>
            <p>
              Brandon credits his ability to form, foster, and maintain healthy relationships with clients 
              as a major attribute to his PRP success. Enlarging the span of his influence, in winter 2019, 
              Brandon partnered with Helping Hands Services, and founded an affliate PRP organization, 
              Brandon's Way.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Ways We Help</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Psychiatric Rehabilitation Program</a></h4>
              <p>Our PRP assists youth and adults, who have a qualifying mental illness by offering community-based and individual services that enhance skills related to daily living.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Therapy Behavioral Services</a></h4>
              <p>This form of therapy looks to identify and help change potentially self-destructive or unhealthy behaviors. It's derived from the notion that 
                all behaviors are learned and that behaviors can be changed.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Mental Health Services</a></h4>
              <p>We help build the emotional, psychological, and social well-being of our clients.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Supported Employment Program</a></h4>
              <p>Our SEP program helps integrate individuals with disabilities into competitive 
                work environments. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          {% load static %}
          <div class="image col-lg-6" style='background-image: url("{% static 'img\brandonpic8.jpg' %}");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>School Support</h4>
              <p>Our Staff will attend IEP and 504 meetings upon request.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Transportation</h4>
              <p>Pick-Ups and Drop-Offs are offered.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>After School Activities</h4>
              <p></p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Community and in-home support</h4>
              <p></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Join The Family</h3>
          <p> Sign up for our newsletter to get updates on all upcoming events.</p>
          <a class="cta-btn" class="nav-link scrollto" href="#contact">Sign Up</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>A look at our meetings</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Events</li>
              <li data-filter=".filter-card">Group</li>
              <li data-filter=".filter-web">School</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>UA House Event</h4>
                <p>Event</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="UA House Event"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic5.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic11.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Award</h4>
                <p>School</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic11.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Student of the Week"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic11.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Group Sports</h4>
                <p>Event</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Group Sporting Events"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic6.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lake Walk</h4>
                <p>Group</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Group Meeting"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic8.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>School Pickup</h4>
                <p>School</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="School Pickup"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic9.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic14.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Ride Out</h4>
                <p>Event</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic14.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ride Out / Back to school jam"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic14.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Group Meeting</h4>
                <p>Group</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Group Meeting"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic2.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic13.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Group Meeting</h4>
                <p>Group</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic13.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Group Meeting"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic13.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              {% load static %}
              <img src="{% static 'img\brandonpic12.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Graduation</h4>
                <p>School</p>
                <div class="portfolio-links">
                  {% load static %}
                  <a href="{% static 'img\brandonpic12.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dajuan's Graduation"><i class="bx bx-plus"></i></a>
                  {% load static %}
                  <a href="{% static 'img\brandonpic12.jpg' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Mission</h3>
              <p>
                Brandon's Way desires to be an example of hope and integrity for our clients to achieve 
                their maximum potential while overcoming mental health disorders, trauma, and negative 
                societal influences.
              </p>

              <p>
                We offer individual and group counseling services that develop the following.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Increased Self Esteem.</li>
                <li><i class="ri-check-double-line"></i> Heightened Self Awareness.</li>
                <li><i class="ri-check-double-line"></i> Conflict Resolution Skills.</li>
                <li><i class="ri-check-double-line"></i> Positive Relationships.</li>
                <li><i class="ri-check-double-line"></i> AND MUCH MORE.</li>
              </ul>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Graduates</strong> "I'm only as successful as they are." - Brandon Wells</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="120" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Enrollments</strong> in our individual and group services.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Years of experience</strong> servicing numerous families inclusive of children, adolescents, and adults.</p>
                  </div>
                </div>

                
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% load static %}
                <img src="{% static 'img\brandonHeadshot.jpg' %}" class="testimonial-img" alt="">
                <h3>Brandon Wells</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  In order to grow you have to change people, places, and things. It may be hard but it's worth it.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>A Look At Our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                {% load static %}
                <img src="{% static 'img\brandonProfessionalPic.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://instagram.com/brandonswayprp?igshid=MDE2OWE1N2Q="><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Brandon Wells</h4>
                <span>CEO & Founder</span>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd8QUBsIEyIkRCfvzFyqYlKE&key=AIzaSyA-q19u2CnOdx7VuwZyUZZU_rM3pLxglKY"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>2204 Maryland Ave, Baltimore, MD 21218</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>brandonswayprp@gmail.com.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p> 443-678-2901</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'index' %}" method="post" role="form" class="django-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="messageText" id="messageText" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Brandon's Way<span>.</span></h3>
              <p>
                2204 Maryland Ave <br>
                Baltimore, MD 21218<br><br>
                <strong>Phone:</strong> 443-678-2901<br>
                <strong>Email:</strong> brandonswayprp@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://instagram.com/brandonswayprp?igshid=MDE2OWE1N2Q=" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Files and Downloads</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Psychiatric Rehabilitation Program</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Therapy Behavioral Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Mental Health Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Supported Employment Program</a></li>
            </ul>
          </div>

          <!-- newsletter goes here -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>Brandon's Way 2022</span></strong>.
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% load static %}
  <script src="{% static 'vendor\purecounter\purecounter_vanilla.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor\aos\aos.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor\bootstrap\js\bootstrap.bundle.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor\glightbox\js\glightbox.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor\isotope-layout\isotope.pkgd.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor\swiper\swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  {% load static %}
  <script src="{% static 'js\main.js' %}"></script>

</body>

</html>